.row
  .container-fluid
    .section7
      .col-md-offset-3.col-md-6.text-vertical-center-3
        .wsp-home-header07 {{'HOME_TITLE_07' | translate}}

      .container-fluid
        .col-md-6
          .wsp-home-subheader07 {{'HOME_SUBTITLE_07_01' | translate}}
            .wsp-map#cameldrive01

        .col-md-6
          .wsp-home-subheader07 {{'HOME_SUBTITLE_07_02' | translate}}
            .wsp-map#cameldrive02


script(src="js/wsp-google-map.js")
script(async,
defer,
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCin1llvFDDQc9VeWY4uvtM4sTbgLyQJXs&callback=camelDriveMaps")



