#section002
  .row
    .container-fluid
      .jarallax.img-container
        img(data-ng-src="images/home-img02.jpg", alt="Camel Car Hire - Key Features Img").jarallax-img
        div.on-jarallax.text-center
          h1.text-white Some header 1
          h2.text-yellow Some header 2
          h3.text-white Some header 3
