.row
  .container-fluid#know_more
    .parallax-section.section3
      span(data-picture,
      data-alt="Camel Car Hire - Section 03",
      mr-px-parallax,
      mr-px-max-px="0.2").mr-px-img
        span(data-src="../../images/home-img02.jpg",
        mr-px-size="1920,1200")


      .on-parallax.section3
        .container.text-vertical-center-7
          .col-md-4
            .thumbnail.wsp-thumbnail-no-border
              span(aria-hidden="true").glyphicon.glyphicon-thumbs-up.wsp-thumbnail-glyphicon
              .wsp-thumbnail-text
                | Some text here 111 kghghro ohigoghw ogihwoghrgo oihgorgerogh
                | oerhigoregh ohegerhgreh oerihgeorgh lhglhgihgr oihrgorhger oirhgeorgherg
                | lrgjelrgelj erglerlkglqr jerlgjerlge lkerjglegj lejglerjglerg lkjreg
                | lkelrgjerglk lerjg lkerjgejrgel kljerlgkje kerglerjglergjerlkj ergjl...

          .col-md-4
            .thumbnail.wsp-thumbnail-no-border
              span(aria-hidden="true").glyphicon.glyphicon-credit-card.wsp-thumbnail-glyphicon
              .wsp-thumbnail-text
                | Some text here 222 kghghro ohigoghw ogihwoghrgo oihgorgerogh
                | oerhigoregh ohegerhgreh oerihgeorgh lhglhgihgr oihrgorhger oirhgeorgherg
                | lrgjelrgelj erglerlkglqr jerlgjerlge lkerjglegj lejglerjglerg lkjreg
                | lkelrgjerglk lerjg lkerjgejrgel kljerlgkje kerglerjglergjerlkj ergjl...

          .col-md-4
            .thumbnail.wsp-thumbnail-no-border
              span(aria-hidden="true").glyphicon.glyphicon-envelope.wsp-thumbnail-glyphicon
              .wsp-thumbnail-text
                | Some text here 333 kghghro ohigoghw ogihwoghrgo oihgorgerogh
                | oerhigoregh ohegerhgreh oerihgeorgh lhglhgihgr oihrgorhger oirhgeorgherg
                | lrgjelrgelj erglerlkglqr jerlgjerlge lkerjglegj lejglerjglerg lkjreg
                | lkelrgjerglk lerjg lkerjgejrgel kljerlgkje kerglerjglergjerlkj ergjl...

