.row
  .container-fluid
    .parallax-section.section1
      span(data-picture,
      data-alt="Camel Car Hire - Section 01",
      mr-px-parallax,
      mr-px-max-px="0.2").mr-px-img

        //span(data-src="../../images/home-img01.jpg",
        //mr-px-size="500,768")
        //
        //span(data-src="../../images/home-img01.jpg",
        //mr-px-size="1280,960",
        //data-media="(min-width: 500px)")
        //
        //span(data-src="../../images/home-img01.jpg",
        //mr-px-size="1920,1200",
        //data-media="(min-width: 1400px)")

        span(data-src="../../images/home-img01.jpg",
        mr-px-size="1920,1200")

        <!--[if (lt IE 9) & (!IEMobile)]>
        <span data-src="../../images/home-img01.jpg" mr-px-size="1280,960"></span>
        <![endif]-->

        noscript
          img(src="../../images/home-img01.jpg", alt="Camel Car Hire - Section 01")

      .on-parallax.section1
        .col-md-offset-3.col-md-6.text-vertical-center-5
          .wsp-home-center
            img(src="../../images/camel-logo-355x355.png", alt="Camel Car Hire logo")
          .wsp-home-header {{'HOME_TITLE_01' | translate}}
          .wsp-home-subheader {{'HOME_SUBTITLE_01' | translate}}
          .wsp-section01-btn.col-md-offset-1.col-md-10
            a(href="#")
              button(type="button").btn.wsp-btn.wsp-btn-md.btn-danger {{'BTN_BOOK' | translate}}
            a(href="#know_more")
              button(type="button").btn.wsp-btn.wsp-btn-md.btn-warning {{'BTN_KNOWMORE' | translate}}

