.row
  .container-fluid
    .parallax-section.section2
      .container
        //.col-md-offset-1.col-md-8
        //  .wsp-section002-block-message01
        //    p Спросите наших клиентов о Camel Car Hire и они вам ответят: разумные цены при безупречном качестве
        //  .wsp-section002-block-message02
        //    p Camel Car Hire - лучшее для Вас!
        //.col-md-3.wsp-section002-block-btn
        //  .wsp-section-btn
        //    button(type="button").btn.wsp-btn.wsp-btn-md.btn-danger {{'BTN_BOOK' | translate}}

        .col-md-5
          .wsp-section002-block-message01 {{'HOME_TITLE_02' | translate}}
        .col-md-offset-1.col-md-6
          .wsp-section002-block-message02 {{'HOME_SUBTITLE_02' | translate}}
        .col-md-12
          a(href="#111")
            .wsp-section02-btn
              button(type="button").btn.wsp-btn.wsp-btn-md.btn-danger {{'BTN_BOOK' | translate}}