html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

/*
***   Angular Responsive Parallax   ***
 */

.parallax-section {
  position: relative;
  z-index: 1;
}

.mr-px-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  z-index: -999;
  padding: 0;
  margin: 0;
}

.mr-px-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.on-parallax {
  background-size: cover;
  background-color: rgba(39,35,51,0.8);
  .section1 {
    height: @section1_heigh;
  };
  .section2 {
    height: @section2_heigh;
  };
  .section3 {
    height: @section3_heigh;
  };
}

/*
***   Navbar   ***
 */

.wsp-navbar-brand {
  padding-top: 0 !important;
}

.wsp-navbar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}

.wsp-btn-link:hover {
  color: darkblue !important;
}

.wsp-nav-title {
  color: @full-colors-primary-0 !important;
  margin-left: 5px !important;
}

.wsp-nav-item {
  font-size: 18px !important;
  color: @full-colors-primary-0 !important;
  text-decoration: solid !important;
}


/*
***   Sections   ***
 */

/*
***   Section 1   ***
 */

.section1 {
  height: @section1_heigh;
}

.wsp-home-header {
  color: @full-colors-primary-0;
  text-align: center;
  font-weight: 700;
  font-size: 8rem;
}

.wsp-home-subheader {
  color: @full-colors-primary-1;
  text-align: center;
  font-weight: 500;
  font-size: 5rem;
  margin-bottom: 7%;
}

.wsp-home-center {
  img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    height: 270px;
  }
}

.text-vertical-center {
  padding-top: 5%;
}

.wsp-section01-btn {
  text-align: justify;
  .wsp-btn {
    display: inline-block !important;
    border-radius: 100px !important;
    margin-top: 5% !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

.wsp-section01-btn:after {
  content: '' !important;
  display: inline-block !important;
  width: 100% !important;
}

/*
***   Section 2   ***
 */

.section2 {
  background-color: @lighter-pastel-primary-0;
  text-align: center;
}

.wsp-section002-block-message01 {
  padding-top: 15%;
  font-size: 5.2rem;
  color: @lighter-pastel-secondary-2-2;
  font-weight: 900;
}

.wsp-section002-block-message02 {
  padding-top: 20%;
  font-size: 3rem;
  color: @deep-colors-primary-0;
  font-weight: 700;
}

.wsp-section02-btn {
  padding-top: 5%;
  padding-bottom: 3%;
  display: block;
  margin: 0 auto;
  .wsp-btn {
    border-radius: 100px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

.wsp-section02-btn:after {
  content: '' !important;
  display: inline-block !important;
  width: 100% !important;
}

.wsp-btn-lg {
  font-size: 5rem;;
}

.wsp-btn-md {
  font-size: 3rem;;
}

/*
***   Section 3   ***
 */

.section3 {
  min-height: @section3_heigh;
}

.wsp-home-header {
  color: @full-colors-primary-0;
  text-align: center;
  font-weight: 700;
  font-size: 8rem;
}

.wsp-home-subheader {
  color: @full-colors-primary-1;
  text-align: center;
  font-weight: 500;
  font-size: 5rem;
  margin-bottom: 7%;
}

.wsp-home-center {
  img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    height: 270px;
  }
}

.text-vertical-center {
  padding-top: 5%;
}

.text-vertical-center-7 {
  padding-top: 7%;
}

.wsp-section03-btn {
  text-align: justify;
  .wsp-btn {
    display: inline-block !important;
    border-radius: 100px !important;
    margin-top: 5% !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

.wsp-section03-btn:after {
  content: '' !important;
  display: inline-block !important;
  width: 100% !important;
}

.wsp-thumbnail-no-border {
  background-color: transparent;
  color: gold;
  border: 0;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

.wsp-thumbnail-glyphicon {
  font-size: 8rem;
  font-weight: 900;
  color: darkred;
}

.wsp-thumbnail-text {
  padding-top: 2%;
  font-size: 1.8rem;
  font-weight: 100;
  color: gold;
}




/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  .wsp-btn-lg {
    font-size: 2rem;;
  }

  .wsp-btn-md {
    font-size: 1rem;;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wsp-btn-lg {
    font-size: 3rem;;
  }

  .wsp-btn-md {
    font-size: 2rem;;
  }

}

/* Large desktop */
@media (max-width: 1200px) {
  .wsp-btn-lg {
    font-size: 4rem;;
  }

  .wsp-btn-md {
    font-size: 3rem;;
  }

}