html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.wsp-navbar-brand {
  padding-top: 0 !important;
}

.wsp-navbar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}

.wsp-btn-link:hover {
  color: darkblue !important;
}

.wsp-nav-title {
  color: @main_palette !important;
  margin-left: 5px !important;
}

.wsp-nav-item {
  font-size: 18px !important;
  color: @main_palette !important;
  text-decoration: solid !important;
}

// Angular Responsive Parallax

/*

required css to make things work

*/

.parallax-section {

  //margin:0;
  //width:100%;

  //background-size: cover;
  //background-position: 50% 50%;
  //background-repeat: no-repeat;

  /* position relative is needed as a references for child element positions */

  position: relative;

  /* zindex needed to put content in front of the images */

  z-index: 1;

}

.section1 {
  height: @section1_heigh;
}

.section2 {
  margin-top: 0;
  height: @section2_heigh;
  background-color: #272333;
  text-align: center;
}


.mr-px-img {

  /* This container is needed for cropping and image positioning if parallax fx is disabled */

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: hidden;

  z-index: -999;

  padding: 0;
  margin: 0;

}

.mr-px-img img {

  /* basic scaling and positioning rules which will be overwriten by javascript */

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: auto;

}

.on-parallax {
  background-size: cover;
  background-color: rgba(39,35,51,0.8);
  .section1 {
    height: @section1_heigh;
  }
}

.gap-parallax {
  padding: 50px;
  background-color: #272333;
  text-align: center;
}

.gap-big-parallax {
  padding:100px;
  background-color: #272333;
  display: table;
}

.gap-big-parallax-item {
  display: table-cell;
  vertical-align: middle;
}

.wsp-home-header {
  color: @main_palette;
  text-align: center;
  font-weight: 700;
  font-size: 8rem;
}

.wsp-home-subheader {
  color: @sub_palette_light_01;
  text-align: center;
  font-weight: 500;
  font-size: 5rem;
  margin-bottom: 20px;
}

.wsp-home-center {
  img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    height: 270px;
  }
}


.text-red {
  padding-top: 40px;
  //text-align: center;
  color: red;
}

.text-white {
  padding-top: 40px;
  //text-align: center;
  color: white;
}

.text-vertical-center {
  padding-top: 5%;
}

.text-yellow {
  padding-top: 40px;
  //text-align: center;
  color: yellow;
}

.img-container {
  width: 100%;
  height: 768px;
}

/*
   Bottons
 */

.wsp-section-btn {
  text-align: justify;
  .wsp-btn {
    display: inline-block !important;
    border-radius: 100px !important;
    margin-top: 30px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}

.wsp-section-btn:after {
  content: '' !important;
  display: inline-block !important;
  width: 100% !important;
}

.wsp-btn-lg {
  font-size: 5rem;;
}

.wsp-btn-md {
  font-size: 3rem;;
}




/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
  .wsp-btn-lg {
    font-size: 2rem;;
  }

  .wsp-btn-md {
    font-size: 1rem;;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wsp-btn-lg {
    font-size: 3rem;;
  }

  .wsp-btn-md {
    font-size: 2rem;;
  }

}

/* Large desktop */
@media (max-width: 1200px) {
  .wsp-btn-lg {
    font-size: 4rem;;
  }

  .wsp-btn-md {
    font-size: 3rem;;
  }

}